{% extends "Layout.html"%}

{% block content %}
        <h1>Stock List</h1>

        <form method="get">
          <select name="filter">
            <option value="">All Stocks</option>
            <option {% if request.query_params.filter == 'new_closing_highs' %}selected="selected"{% endif %}
              value="new_closing_highs">New Closing Highs</option>
            <option {% if request.query_params.filter == 'new_closing_lows' %}selected="selected"{% endif %}
              value="new_closing_lows">New Closing Lows</option>
            <option {% if request.query_params.filter == 'rsi_overbought' %}selected="selected"{% endif %}
              value="rsi_overbought">RSI Overbought</option>
            <option {% if request.query_params.filter == 'rsi_oversold' %}selected="selected"{% endif %}
              value="rsi_oversold">RSI Oversold</option>
            <option {% if request.query_params.filter == 'above_sma_20' %}selected="selected"{% endif %}
              value="above_sma_20">Above SMA-20</option>
            <option {% if request.query_params.filter == 'below_sma_20' %}selected="selected"{% endif %}
              value="below_sma_20">Below SMA-20</option>
            <option {% if request.query_params.filter == 'above_sma_50' %}selected="selected"{% endif %}
              value="above_sma_50">Above SMA-50</option>
            <option {% if request.query_params.filter == 'below_sma_50' %}selected="selected"{% endif %}
              value="below_sma_50">Below SMA-50</option>
          </select>
          <input type="submit" />
        </form>

        <table class="ui selectable inverted table">
          <thead>
            <tr>
              <th>Symbol</th>
              <th>Name</th>
              <th>Price</th>
              <th>RSI 14</th>
              <th>SMA 20</th>
              <th>SMA 50</th>
            </tr>
          </thead>
          <tbody>
            {% for stock in Stocks %}
              <tr>
                <td>{{ stock.symbol }}</td>
                <td><a href="/stock/{{ stock.symbol }}">{{ stock.name }}</a></td>
                {% if indicator_values[stock.symbol] %}
                  <td>{{ indicator_values[stock.symbol].close }}</td>
                {% if indicator_values[stock.symbol].rsi_14 %}
                  <td>{{ indicator_values[stock.symbol].rsi_14|round(2) }}</td>
                {% else %}
                  <td>N/A</td>
                {% endif %}
                {% if indicator_values[stock.symbol].sma_20 %}
                  <td>{{ indicator_values[stock.symbol].sma_20|round(2) }}</td>
                {% else %}
                  <td>N/A</td>
                {% endif %}
                {% if indicator_values[stock.symbol].sma_50 %}
                  <td>{{ indicator_values[stock.symbol].sma_50|round(2) }}</td>
                {% else %}
                  <td>N/A</td>
                {% endif %}
              {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}